{% extends 'base.html.twig' %}

{% block title %}Conference Guestbook - {{ conference }}{% endblock %}

{% block body %}
    <h2>{{ conference }} Conference</h2>

    {% if comments|length > 0 %}
        <div>Il y à actuellement {{ comments|length }} commentaires.</div>

        {% for comment in comments %}
            {% if comment.picture %}
                <img src="{{ asset('uploads/photos/' ~ comment.picture) }}" />
            {% endif %}

            <p>{{ comment.text }}</p>
        {% endfor %}

        {% if previous >= 0 %}
            <a href="{{ path('conference', { id: conference.id, offset: previous }) }}">Precedent</a>
        {% endif %}
        {% if next < comments|length %}
            <a href="{{ path('conference', { id: conference.id, offset: next }) }}">Suivant</a>
        {% endif %}
    {% else %}
        <div>Pas encore de commentaire.</div>
    {% endif %}

{% endblock %}